body{
    background-color: #ffff;
    display: block;
    font-size: 16px;
    font-weight: 300;
    height: 1000px;
}
.container{
    background-color:azure;
    display: flex;
    height: 150px;
    flex-direction: row;
    /*always on the main axis*/
    justify-content:center;
    /*always on the cross axis*/
    align-items:center;
}
.image1{
    position: absolute;
    left: 2%;
    height: 120px;
}
.item1{
    display:flex;
    justify-content:center;
    align-items:center;   
    color: rgb(12, 12, 38);
    font-family:sans-serif ;
    font-size:larger;
    font-weight: bold;
    height: 30px;
    width: 60px;
    margin: 35px;
    border-color: black;
    border-width: 2px;
}
   
.search{
    position: absolute;
    right: 2%;
}
.movie{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color:aliceblue;   
    
    
}
footer{
    background-color: azure;
    height: 250px;
}
.nav{
    position: absolute;
    left: 5%;
    font-family:sans-serif ;
    font-size:larger;
    font-weight: bold;
    float:left;
}
.ul1{
    position: absolute;
    left: 6%;
    font-weight: 300;
    font-family:sans-serif ;
    font-size: 16px;
    float:left;
}
.links{
    position: absolute;
    left: 25%;
    font-family:sans-serif ;
    font-size:larger;
    font-weight: bold;
    float:left;
}
.ul2{
    position: absolute;
    left: 26%;
    font-weight: 300;
    font-family:sans-serif ;
    font-size: 16px;
    float:left;
}
.container1{
    background-color:azure;
    display: flex;
    height: 150px;
    flex-direction: row;
    /*always on the main axis*/
    justify-content:center;
    /*always on the cross axis*/
    align-items:center;
}
.image2{
    position: absolute;
    right: 5%;
    height: 120px;
    height: 50px;
    width: 50px;
}
.image3{
    position: absolute;
    right: 10%;
    height: 120px;
    height: 50px;
    width: 50px;
}
.image4{
    position: absolute;
    right: 15%;
    height: 120px;
    height: 50px;
    width: 50px;
}
.imagetext
{
    position: absolute; 
    top: 200px; 
    left: 7%; 
    width: 100%; 
    font-family:Brush Script MT ;
    color:white;
    font-size: 100px;   
}
h1{
  text-shadow: 5px 5px black;
}
.GeneratedMarquee {
    font-family:cursive;
    font: size 10px;;
    font-weight:lighter;
    font-variant:small-caps;
    color:#330000; 
  }
  .gen{
    background-color: azure;
    display: flex;
    border-color:rgba(28,110,164,0.47);
   border-style: solid; 
   margin-top: 10px;
   margin-bottom: 10px;
  }
  
  .imagetext2{
    position:absolute;
    display: flex;
    align-items: flex-end;
    font-family:cursive;
    color: rgb(230, 35, 116);
    font-size: 40px;
  }
  
  .weather{
    display: flex;
    margin: 10px;
  }
  
  .sec1{
    display: flex;
    align-items: center;
    align-content: center;
  }
  .pa{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: left;
    font-size: 20px;
    padding-left: 20px;
    font-style: italic;
  }
  
  .rock{
    display: flex;
    justify-content: right; 
    flex-basis: 40%;
  }
  
  .pa1{
    display: flex;
    width: 50%;
    justify-content: right;
    font-size: 20px;
    padding-right: 20px;
    font-style: italic;
  }
  
  .rose{
    display: flex;
    justify-content: left; 
    flex-basis: 40%;
  }
 
  .heading
  {
 
    font-family: Trebuchet MS (sans-serif)    ;
    font-style: italic;
    font-size: 40px;
  }
  .borderdesign1
  {
    outline: 2px solid rgba(28,110,164,0.47);
    outline-offset: 0px;
  }
  .borderdesign2
  {
    outline: 2px solid rgba(28,110,164,0.47);
    outline-offset: 0px;
  }
  .link{
    display: flex;
    font-size: medium;
    align-items:flex-end;
    
     
  }
  .imagetext3
  {
      position: absolute; 
      top: 400px; 
      left: 20%; 
      width: 100%; 
      font-family:Brush Script MT ;
      color:white;
      font-size: 100px;
      
  }












